<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="@{'Kitchen Bob - ' + ${recipe.title}}">Kitchen Bob - Recipe</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h1>Bob's Recipe Of The Day</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${recipe.title}">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${recipe.description}">Card subtitle</h6>

            <div class="badge badge-primary" th:text="@{'prep time: ' + ${recipe.prepTime} + ' min'}"></div>
            <div class="badge badge-primary" th:text="@{'cook time: ' + ${recipe.cookTime} + ' min'}"></div>
            <div class="badge badge-primary" th:text="@{'servings: ' + ${recipe.servings}}"></div>
            <br/>
            <div class="badge badge-success" th:each="category : ${recipe.categories}" th:text="${category.description}"></div>
            <br/>
            <div class="badge badge-danger" th:text="${recipe.difficulty}"></div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-light">Ingredients</li>
            <li class="list-group-item"
                th:each="ingredient : ${recipe.ingredients}"
                th:text="@{${ingredient.amount} + ' ' + ${ingredient.uom.description} + ' of ' + ${ingredient.description}}">
            </li>
        </ul>
        <div class="card-body">
            <h6>Directions</h6>
            <p class="card-text" th:text="${recipe.directions}"></p>

            <blockquote class="blockquote mb-0">
                <p>Notes</p>
                <footer class="blockquote-footer" th:text="${recipe.notes.recipeNotes}"></footer>
            </blockquote>
            <br/>

            <a href="#" th:href="${recipe.source}" target="_blank">Source</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>